{% extends "bootstrap/base.html" %}
{% block title %}WFP Management Analytics Portal{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WFP Management Analytics Portal">
    <meta name="author" content="Anthony Carminati">
    <title>WFP Management Analytics Portal</title>

    {% block styles %}
        <link rel="stylesheet" href="{{url_for('static', filename="bootstrap.min.css")}}" >
        <link rel="stylesheet" href="{{url_for('static', filename="overrides.css")}}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% endblock %}

{% endblock %}

{% block body %}
    {% block content %}
    <h1>Hello,World!</h1>
    {% endblock %}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{url_for('static', filename = "bootstrap.min.js")}}"></script>
{% endblock %}